<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jaime Diez</title>
</head>
<body>
  <div class="container">
    <div class="info">
      <p class="header-name">jaime díez lópez</p>
      <p>junior full stack developer</p>
      <p>passion for code, sports, analogic photograpy and travels</p>
      <p>contact me at <a href="mailto:diezlopezjaime@gmail.com">diezlopezjaime&#64;gmail.com</a></p>
    </div>
    <div class="image">
      <img src="assets/jaime_perfil.jpg" alt="This is me">
    </div>
  </div>
</body>
</html>